.searhPage_header{
    background-color:white;
   
    position: sticky;
    top: 0;
    z-index: 100;
    
    padding: 30px;
    border-bottom: 1px solid lightgray;
    


}
.searhPage_header1{
    
    display: flex;
}

.searchPage_logo{
   
    height: 50px;
    margin-right: 50px;
    object-fit: contain;
}
.search_PageHeaderBody{
    flex: 0.6;

}



.search_PageHeaderBody> .search > .search_input{
   margin-top: 0;
   width: unset;
   margin: unset;
   max-width: unset;
 

}
.serachPage_Options{
    
    display: flex;
    align-items: center;
    color: gray;
    
   
}
.searchPage_optionsLeft , .searchPage_optionsRight{
    display: flex;

}

.searchPage_optionsLeft a , .searchPage_optionsRight a{
    
    text-decoration: none;
    color: gray;

    
}
.searchPage_optionsRight{
    margin-left: 80px;

}
.serachPage_Option{
    
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.serachPage_Option a{
    
    margin-left: 5px;
}
.searchPage_result{

    margin: 40px 0;

}
.searchPage_resultcount{
 
  color: #70757a;
  font-size: 14px;
}
.searhPage_results{
    
    margin-top: 20px;
    margin-left: 240px;
    margin-bottom: 100px;
    max-width: 650px;
    
}
.searchPage_resultsTitle{
    text-decoration: none;

}
.searchPage_resultsTitle:hover{
    text-decoration:underline;
}
.searchPage_resultsTitle >h2{
    font-weight: 500;
}
.searchPage_resultssnippet{
    margin-top: 10px;
}
.searchPage_resultPage{
    object-fit: contain;
    height: 20px;
    width: 20px;
    margin-right: 10px;
}